@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --color-correct: oklch(62.7% 0.194 149.214);
  --color-present: oklch(68.1% 0.162 75.834);
  --color-absent: oklch(27.9% 0.041 260.031);
  --color-unused: oklch(44.4% 0.011 73.639)
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.box-letter {
  @apply h-12 w-12 sm:h-14 sm:w-14 rounded-md border border-2 border-stone-600 text-3xl font-semibold sm:text-4xl grid place-items-center
}

.btn-kb {
  @apply text-zinc-100 font-bold rounded h-12 w-8 sm:h-14 sm:w-10 cursor-pointer
}

.btn-wide {
  @apply text-zinc-100 font-bold rounded h-12 w-14 sm:h-14 sm:w-18 cursor-pointer
}
